
@main(Messages("playauthenticate.index.title")) {
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1 id="logo">@Messages("playauthenticate.index.intro")</h1>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div id="firstfeat" class="span4">
          <h2>@Messages("playauthenticate.index.heading")</h2>
           <p>Be the author of your own research objects and add them to your collection! You will also be able to see a list of them.</p>
        </div>
        <div  id="secondfeat" class="span4">
          <h2>Search for artifacts</h2>
           <p>Whenever you need an artifact, our search tool enables you to easily search for it.</p>
       </div>
        <div  id="thirdfeat" class="span4">
          <h2>Update your work</h2>
          <p>Add new artifacts into your research objects, update the old ones or simply remove them if you ever feel the need to.</p>
        </div>
      </div>
    }