@(localUser: models.User, roList: List[models.Ro])

@import helper._
@import helper.twitterBootstrap._

@main(Messages("playauthenticate.navigation.restricted"), "restricted") {
    
    <h1>@Messages("playauthenticate.navigation.restricted")</h1>
    <p>

    <form method="post" action = "@routes.Application.newRo()">
        <td>Research Object Name</td>
        <input type="text"  name="roname">
        <input type="submit">

    </form>

    <table class="table" style="width:100%">
        <thead>
            <tr>
                <th>Ro Name</th>
                <th>Ro Owner</th>
            </tr>
        </thead>



    @for(ro<-roList){

        <tr>
            <td>@ro.getName</td>
            <td>@ro.getOwner</td>
<td><div>
            @form(action = routes.Application.upload, 'enctype -> "multipart/form-data") {
                <input type="file" name="uploadfile" >
                <input type="submit" value="Add">
            }
</div>

</td>
            @if(ro.getArtifacts!=null){




            @for(artifact<-ro.getArtifacts){
                    <td>@artifact.getTitle</td>

                }
            }
        </tr>






            }
    </table>
        }




