body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

form .error input {
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
}

form .error .help-inline {
    color: #B94A48;
}

.providers {
    margin: 5px 0;
    list-style: none;
}

.providers li {
    display: inline;
}

.help-block {
    margin: -10px 0 10px 0;
    font-size: 10px;
    color: #ccc !important;
}

h1 {
    margin-bottom: 20px !important;
}

h1#logo {
	background-image: url(logo.png);
	background-repeat: no-repeat;
	height: 100px;
    width: 1400px;
	text-indent: -9999px;  
}

div#firstfeat h2{
	
	background-image: url('add-icon.png');
	background-repeat: no-repeat;
	height: 70px;
    width: 1400px;
	text-indent: 70px;
	line-height: 60px; /* <-- this is what you must define */
	vertical-align: middle;
}

div#secondfeat h2{
	background-image: url('glas-icon.png');
	background-repeat: no-repeat;
	height: 70px;
    width: 1400px;
	text-indent: 70px;
	line-height: 60px; /* <-- this is what you must define */
	vertical-align: middle;
}

div#thirdfeat h2{
	background-image: url('upd-icon.png');
	background-repeat: no-repeat;
	height: 70px;
    width: 1400px;
	text-indent: 70px;
	line-height: 60px; /* <-- this is what you must define */
	vertical-align: middle;
}